<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js supports-no-cookies" lang="{{ shop.locale }}"{% if settings.layout_enable_rtl %} dir="rtl"{% endif %}> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js supports-no-cookies" lang="{{ shop.locale }}"{% if settings.layout_enable_rtl %} dir="rtl"{% endif %}> <!--<![endif]-->
<head>
  {% capture get_content_for_header %}{{ content_for_header }}{% endcapture %}
  {% include 'head' %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="{{ 'carouselTicker.css' | asset_url }}" />
  <link rel="stylesheet" href="{{ 'woods-custom.css' | asset_url }}" type="text/css">

  <link rel="stylesheet" href="{{ 'woods-carousel-products.css' | asset_url }}" type="text/css">
  <style>
    @font-face {
    font-family: "helvl";
    src: url({{ "helv-light.woff" | asset_url }});
    }
    </style>
{% include 'storeifyapps-storelocator-header' %}

	{{ shop.metafields.loox["global_html_head"] }}
</head>
<body{% render 'layout-get-body-attributes' %}>
{% include 'layout-get-includes-start' %}
{%- if settings.product_show_custom_options and settings.product_enable_variants_section -%}
  {% section 'product-variants' %}
{%- endif -%}
{% section 'header' %}
<main id="MainContent">
  {%- if request.page_type == 'page' -%}
    {% include 'breadcrumbs' %}
  {%- endif -%}
  {{ content_for_layout }}
</main>
{% section 'footer' %}
{% include 'popups' %}
{% include 'footbar' %}
{%- if settings.presentation_enable or template == 'product' and settings.product_info_page_show_usage_info_sidebar -%}
  {% include 'fixed-sidebar' %}
{%- endif -%}
{% include 'templates' %}
{% include 'layout-get-includes-end' %}
<!-- START APPS -->
{%- if settings.app_klarna_enable -%}
  <!-- start Klarna app -->
  <script>window.KlarnaThemeGlobals={};{%case template.name%} {%when"product"%} window.KlarnaThemeGlobals.data_purchase_amount={{product.first_available_variant.price}};window.KlarnaThemeGlobals.productVariants={{product.variants|json}};window.KlarnaThemeGlobals.documentCopy=document.cloneNode(true);{%when"cart"%} window.KlarnaThemeGlobals.data_purchase_amount={{cart.total_price}};window.KlarnaThemeGlobals.documentCopy=document.cloneNode(true);{%endcase%}</script>
  <!-- end Klarna app -->
{%- endif -%}
{%- if settings.app_growave_enable -%}
  <!-- start Growave app -->
  {% capture the_snippet_content %}{% render 'socialshopwave-helper' %}{% endcapture %}
  {%- unless the_snippet_content contains 'Liquid error' -%}
    {{ the_snippet_content }}
  {%- endunless -%}
  <script>
    sswRun(function(){
      var intervalId = setInterval(function() {
        if(ssw('.ssw-stars.ssw-stars-large').length) {
          ssw('.ssw-stars.ssw-stars-large').on('click', function() {
            ssw('.product-page__tabs .tabs__btn[data-tab="reviews"]').click();
            ssw('html, body').animate({
              scrollTop: ssw("#ssw-widget-recommends-html").offset().top - 200
            }, 100);
          });
          clearInterval(intervalId);
        }
      },1000);
    });
  </script>
  <!-- end Growave app -->
{%- endif -%}
{%- if settings.reviews_type == 'loox' -%}
  {{ shop.metafields.loox["global_html_body"] }}
  <style>
    .loox-rating .loox-icon {
      font-size: 1.22em;
    }
    .loox-rating .loox-icon:not(:last-child) {
      margin-right: 5px;
    }
    .loox-rating span {
      margin-left: 2px;
      vertical-align: 2px;
    }
  </style>
{%- endif -%}
<!-- END APPS -->
<script>window.performance.mark('theme:DOM:loaded');</script>
{% comment %}
{% render 'js-api' %}
{% endcomment %}
<script src="{{ 'popup-account-custom.js' | asset_url }}" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery.scrollto@2.1.3/jquery.scrollTo.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery.localscroll@2.0.0/jquery.localScroll.min.js"></script>
  <script src="{{ 'jquery.carouselTicker.min.js' | asset_url }}" ></script>
{% include 'storeifyapps-storelocator-footer' %}
</body>
</html>