{%- comment -%} {{ 'woods-collection-carousel-hover-style.css' | asset_url | stylesheet_tag }} {%- endcomment -%}

<section>
    <div class="{{'woods-collection-row '}}">
        
        <div id="slider-container" class="p-0">
          <div class="">            
                <div class="slider-controls-hover arrows-position-right">
                    <div class="prev-slide-hover slide-nav"><img src="{{ 'arrow-prev.svg' |asset_url }}" alt="carousel-previous-icon"></div>
                 </div>
                <div class="slider-controls-hover arrows-position-left">
                     <div class="next-slide-hover slide-nav"><img src="{{ 'arrow-next.svg'|asset_url }}" alt="carousel-previous-icon"></div>
                 </div>
            <div id="lnw-product-list" class="owl-carousel lnw-collection-slider-hover">
                {% for product in section.settings.collection-slider-hover.products %}
                      <div class="carousel-item">
                        <a class="" href="{{ product.url }}">
                        <img class="" src="{{ product.featured_image | image_url }}" alt="{{ product.title | escape }}" />
                          

                    </a>
      
                      </div>
                  {% endfor %}
              </div>
          </div>
        </div>
    </div>
  </section>
  
  
  {% schema %}
  {
      "name": "Collecion Slider Hover",
      "settings": [{
          "id": "collection-slider-hover",
          "label": "collection",
          "type": "collection"
      }
      
      ],
      "presets": [{
          "name": "Woods Collection Hover",
          "category": "Woods "
      }]
  }
  {% endschema %}
  
  {% stylesheet %}
 

  {% endstylesheet %}
  
  {% javascript %}

    let slider_hover = $('.lnw-collection-slider-hover' ).owlCarousel({
        loop:true,
        margin:10,
        nav:true,
        center:true,
        autoWidth:true,
        autoHeight: false,
        responsive:{
            0:{
                items:1
            },
            475:{
                items:1
            },
            1200:{
                items:4
            },
            1600:{
                items:6
            }
        }
    });
  
    $('.prev-slide-hover').click(function() {
      console.log('prev')
        slider_hover.trigger('prev.owl.carousel');
    })
    $('.next-slide-hover').click(function() {
      console.log('next')
        slider_hover.trigger('next.owl.carousel', [100]);
    })
  {% endjavascript %}