
<section>
    <div class="discover-container container-fluid px-md-30" data-fullwidth-need-paddings="true">
      <div class="collection-title">
        <a href="{{ section.settings.discover-slider.url }}"><h2 class="no-margin">{{section.settings.discover-slider.title}}</h2></a>
        <div class="slider-controls">
            <div class="prev-slide slide-nav"><img src="{{ 'arrow-prev.svg' |asset_url }}" alt="carousel-previous-icon"></div>
            <div class="next-slide slide-nav"><img src="{{ 'arrow-next.svg'|asset_url }}" alt="carousel-previous-icon"></div>
        </div>
    </div>
      <div class="owl-carousel discover-slider">
        {% for product in section.settings.discover-slider.products %}
          <a href="{{ product.url }}">
            <div class="carousel-item" >
              <img src="{{ product.featured_image | image_url }}" alt="{{ product.title | escape }}" style="height: calc(100% - 60px);" />
              <div class="hover-content">
                {{ section.settings.discover-hover-text }}
              </div>
            </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </section>
  
  



  {% schema %}
  {
      "name": "Collecion Slider Hover",
      "settings": [
        {
          "id": "discover-slider",
          "label": "collection",
          "type": "collection"
      },
      {
          "id": "discover-title",
          "label": "Section Title",
          "type": "text",
          "default": "The woods collection"
      },
      {
          "id": "discover-hover-text",
          "label": "Hover Text",
          "type": "text",
          "default": "Discover the woods collection"
      }
      
      ],
      "presets": [{
          "name": "Woods Collection Hover",
          "category": "Woods "
      }]
  }
  {% endschema %}
  
  {% stylesheet %}
 .carousel-item {
  position: relative;
}
.hover-content {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  font-size: 60px;
  line-height: 56px;
  color:#fff;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

  {% endstylesheet %}
  
  {% javascript %}
    var discover_slider = $('.discover-slider').owlCarousel({
    loop:true,
    margin:30,
    nav:true,
    center:true,
    
    responsive:{
        0:{
            items:1,
            stagePadding: 0,
        },
        1000:{
            items:3,
            stagePadding: 50,
        }
    }
});

$('.discover-container .prev-slide').click(function() {
      console.log('prev')
        discover_slider.trigger('prev.owl.carousel');
    })
    $('.discover-container .next-slide').click(function() {
      console.log('next')
        discover_slider.trigger('next.owl.carousel', [300]);
    })

$(document).ready(function() {
  $('.hover-content').hide();
    $('.discover-slider .carousel-item').hover(function() {
        $(this).find('.hover-content').fadeIn()
    }, function() {
        $(this).find('.hover-content').fadeOut();
    });
});
   
  {% endjavascript %}